@charset "UTF-8";

.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px outset #fff;
    border-radius: 1rem;
    transition: .6s;  
}

.acordeon:hover,
.acordeon.open {
    background-color: #55569e;
    border-color: #55569e;
}

.acordeon .trigger { 
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    text-align: center; 
    background: none;
    color: #fff;    
    border: none; 
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 3rem;
}

.acordeon .trigger h2 {
    margin: 0;
    font-size: 1.5rem;
}

.acordeon .trigger::after {
    content: '';
    display: inline-block;    
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(/assets/img/icons/arrow-top.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    transition: .3s; 
}

.acordeon .trigger:hover {
    cursor: pointer;
}

.acordeon.open .trigger::after {
    transform: rotate(360deg)
}

.acordeon .content {    
    overflow: hidden; 
    height: 0;
    opacity: 0;
    transition: opacity .3s ease-in-out ; 
}

.acordeon.open .content {
   display: block; 
   height: auto;
   opacity: 1;
   padding: 0 1rem 1rem 2rem;
} 
