@charset "UTF-8";

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

@font-face {
    font-family: Neue Machina;
    src: url('/assets/fonts/neue-machina-regular.otf');
}

.main {
    margin: .5rem;
    padding: .5rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ol {
    text-align: justify;
    line-height: 2rem;
    padding-right: 3rem;
}

body {
    color: white;
}


body::after {
    content: '';
    background-image: linear-gradient(to bottom,#7072d6, black, black, #7072d6);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block; 
    position: fixed;
    top: 0; 
    left: 0;
    width: 140vw;
    height: 100vh;
    z-index: -1;
}
