@charset "UTF-8";

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
}

header::before {
    content: '';
    display: inline-block; 
    position: absolute; 
    top: 1rem;
    right: 1em;
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
    background-image: url(/assets/img/icons/header.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.title {
    font-family: 'Neue Machina';
    text-align: center;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    font-size: 1.125rem;
}

.information p {
    margin: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.information p::before { 
    content: ''; 
    display: inline-block; 
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
}

.information .job::before {
    background-image: url(/assets/img/icons/job.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.information .location::before {
    background-image: url(/assets/img/icons/location.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.information .phone::before {
    background-image: url(/assets/img/icons/phone.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.information .email::before {
    background-image: url(/assets/img/icons/email.svg);
    background-repeat: no-repeat;
    background-size: contain;
}