@charset "UTF-8";

@media screen and (min-width: 768px) {
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }

    .main::before,
    .main::after { width: 70px;} 

    .header { /*alinhou o itens como um grid*/
        display: grid;
        grid-template-areas: /*posicionou*/
        "photo title"
        "photo information";
    }
    .photo {
        grid-area: photo;
        margin: auto;
    }
    .title {
        grid-area: title;
        text-align: start;
        max-width: 1000px;
    }
    .information {
        grid-area: information;
    }
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
